<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/styles.css')}}">
    <title>Authors</title>
</head>
<body>
    <div class="container">
        <div class="left-container">
            <h1>New Author</h1>
            <form action="/create_author" method="post">
                <label for="name">Name: </label>
                <input type="text" name="name">
                <input type="submit" value="Create" class="create-button">
            </form>
        </div>
        <div class="right-container">
            <h1>All Authors</h1>

            <div class="list-box">
                <ul>
                    {% for author in authors %}
                        <li><a href="/authors/{{author.id}}">{{author.name}}</a></li>
                    {% endfor %}
                </ul>
            </div>
            <a href="/books">Add Book</a>
        </div>
    </div>
</body>
</html>